.account-settings-container {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 60vh;
  background-color: white;
}

.user-data {
  position: absolute;
  margin-left: 20%;
  display: flex;
  width: 75%;
  height: 80%;
  display: inline-block;
}
.fullname {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
}

.user-email {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
}
