.footer-container {
  display: flex;
}

.footer-logo {
  display: flex;
  margin-left: 1rem;
  width: 35%;
  height: 150px;
}

.logo {
  width: 10rem;
  height: auto;
}

.link {
  text-decoration: none;
  margin-top: 10px;
}

.text {
  &:hover {
    color: #2196f3;
    transition: all 0.5s ease;
  }
}

.twitter {
  &:hover {
    color: #1da1f2;
    transition: all 0.5s ease;
  }
}
.instagram {
  &:hover {
    color: #e1306c;
    transition: all 0.5s ease;
  }
}

.icon {
  position: absolute;
  margin-top: -3px;
  margin-left: 5px;
}

.column {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.media {
  display: flex;
}
.divider {
  margin-left: 10rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 2px;
  height: 100px;
  background-color: white;
}
